# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
logs/

# Environments
.venv/
venv/
env/

# System files
.DS_Store

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/
